body{

  font-family: 'Sarabun', sans-serif;
  background-color: #f8f9fa;
  font-size: 14px;
  height: 100vh;
}

p{
  font-size: 14px;
}

input,
input::-webkit-input-placeholder {
    font-size: 14px;
}

.maincontainer{
  justify-content: center;
  padding: 30px;
}


.container{
  width:80%;
}

label{
  max-width: 200px;
}

.back_frame{
  background-color: #ebedef;
  border-radius: 5px;
}

.back_frame p{
margin: 2px 0;
}

.row {
  padding: 10px 0;
  align-items: center;
}



.leftright{
  display: flex;
  justify-content: space-between;
}


/* BUTTON */

.btn-margin {
    margin: 20px 10px;
}


.btn-primary {
    color: #fff;
    background-color: #6986b1;
    border: none;
  }

.btn-primary:active {
  background-color: ##4a6999;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  background-color: #4a6999;
  border-color: none;
}

.button_container {
display: flex;
justify-content: space-around;
}

.button_container .btn-sm {
    width: 400px;
}


.txt{
  width: 100px;
}

/* TABLE*/

.tab_frame{
  padding: 10px;
  width: 80%;
  overflow-x: scroll;
  margin-top: 20px;
}



/* check button */
.form-check {
    display: flex;
    align-items: center;
  }
